[Desktop Entry]
Name=MIDPath
Comment=Java J2ME simulator
Exec=manager.sh 
Terminal=false
Type=Application
StartupNotify=false
Icon=midpath-setup
Categories=emulators;

