[Desktop Entry]
Name=MIDPath
Comment=Java J2ME simulator
Exec=launcher.sh -jar %f
Terminal=false
Type=Application
StartupNotify=false
MimeType=application/jar;
Icon=midpath
Categories=emulators;

